{% extends 'base.html.twig' %}

{% block title %}New Terrain{% endblock %}

{% block body %}
    <h1>Create new Terrain</h1>

    {{ include('terrain/_form.html.twig') }}

    <a href="{{ path('app_terrain_index') }}"><button class="btn btn-primary">Back to list</button></a>


{% endblock %}