{% extends 'base1.html.twig' %}

{% block title %}Edit Don
{% endblock %}

{% block body %}
	<h1>Edit Don</h1>

	{{ include('don/_form.html.twig', {'button_label': 'Update'}) }}
	{{ include('don/_delete_form.html.twig') }}
	<a class="btn btn-primary mt-4 mb-2" href="{{ path('app_don_index') }}">Back To List</a>
{% endblock %}
