{% extends 'base.html.twig' %}

{% block title %}New Don
{% endblock %}

{% block body %}
	<h1>
		<center>Create new Don</h1>
		<div class="container">
			<div class="checkout__form">
				<div class="checkout__form">
					<div class="row">
						<div class="checkout__input">
							{{ include('don/_form.html.twig') }}
							<a class="btn btn-primary mt-4 mb-2" href="{{ path('app_association_index') }}">back to list</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
