{% extends 'base_email.html.twig' %}

{% block body %}
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center">
				<table border="0" cellspacing="0" cellpadding="0" style="max-width: 600px;">
					<tr>
						<td bgcolor="#E6F3FF" style="padding: 40px; text-align: center; font-family: Arial, sans-serif; font-size: 18px; line-height: 24px; color: #000000;">
							<p style="font-size: 24px; line-height: 30px; margin-bottom: 20px;">Dear
								{{ don.membre.nom }},</p>
							<p style="font-size: 24px; line-height: 30px; margin-bottom: 20px;">Thank you for your generous donation of
								{{ don.montant }}
								€ to
								{{ don.association.nom }}!</p>
							<p style="font-size: 24px; line-height: 30px; margin-bottom: 20px;">Your support helps us continue our mission and make a positive impact in the community.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}
