{% extends 'base1.html.twig' %}

{% block title %}Affectations Edit{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('back/css/styleTech.css')}}" type="text/css"> 
    <h1>Affectations Edit</h1>

    {{ include('affectations/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_affectations_index') }}" class="editlink">Back</a>
    {{ include('affectations/_delete_form.html.twig') }}
{% endblock %}