{% extends 'base1.html.twig' %}

{% block title %}Create Affectation{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('back/css/styleTech.css')}}" type="text/css"> 
    <h1>Create Affectation</h1>

    {{ include('affectations/_form.html.twig') }}

    <a href="{{ path('app_affectations_index') }}" class="editlink">Back</a>
{% endblock %}
